<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <title>What To Cook Today?</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>What To Cook Today?</h1>
        </header>
        <main>
            <section class="search">
                <form class="search__form">
                    <input type="text" class="search__bar" name="input" required placeholder="Search for recipes">
                    <button class="btn search__btn"></button>
                </form>
            </section>
            <section class="recipe">
                <div class="recipe__count"></div>
                <div class="recipe__result"></div>
                <div class="recipe__pagination"></div>
            </section>
        </main>
        <footer>
            <div id="edamam-badge" data-color="transparent"></div>
        </footer>
    </div>
</body>

</html>