<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <script src="https://developer.edamam.com/attribution/badge.js"></script>
    <title>What To Cook Today?</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>What To Cook Today?</h1>
        </header>
        <main>
            <section class="search">
                <form class="search__form">
                    <input type="text" class="search__bar" name="input" required placeholder="Search for recipes">
                    <button class="btn search__btn"></button>
                </form>
            </section>
            <section class="recipe">
                <div class="recipe__count"></div>
                <ul class="recipe__result"></ul>
                <div class="recipe__pagination"></div>
            </section>
        </main>
        <footer class="footer">
            <nav class="footer__nav">
                <div id="edamam-badge" data-color="transparent"></div>
                <ul class="footer__contact"></ul>
            </nav>
            <p class="footer__disclaimer">This recipe app is inspired by Jonas Schmedtmann's Udemy course, cloned and
                arranged by Emiri Begic.</p>
        </footer>
    </div>
</body>

</html>