// FONT
$font-stack: 300 1rem 'Poppins', sans-serif;
$font-medium: 300 0.75rem 'Poppins', sans-serif;
$font-small: 300 0.5rem 'Poppins', sans-serif;

// // COLOR
$light-grey: rgba(161, 161, 161, 0.7);
$dark-grey: #777;

// PADDING
$default-padding: 1rem;

* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	font: $font-stack;
}

.container {
	margin: 0 auto;
}

img {
	// Responsive
	max-width: 100%;
	height: auto;
	object-fit: cover;
	display: block;
}

ul {
	list-style: none;
}

.link {
	text-decoration: none;
	color: #000;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
}

.btn {
	display: inline-block;
	padding: 0;
	border: none;
	background: transparent;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}
