.footer {
	display: block;
	align-items: center;
	padding: $default-padding;

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 0.5rem;
	}

	&__contact {
		display: flex;
		justify-content: center;
	}

	&__sns {
		margin: 0 0.5rem;
	}

	&__disclaimer {
		font: $font-small;
		color: $dark-grey;
		text-align: end;
	}
}

.icon-sns {
	width: 1.5rem;
	height: 1.5rem;
}

#edamam-badge {
	width: 20%;
}
