.spinner {
	margin: 5rem auto;
	text-align: center;

	svg {
		height: 6rem;
		width: 6rem;
		// fill: $color-primary;
		animation: rotate 2s infinite linear;
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0);
	}

	100% {
		transform: rotate(360deg);
	}
}

.recipe {
	&__count {
		padding: 1rem;
	}

	&__result {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
		gap: 1rem;
		justify-items: center;
		align-items: stretch;
		padding: 1rem;
	}

	&__btn {
		margin: 0 0.5rem;
	}

	&__info {
		display: flex;
		align-items: center;
	}

	&__pagination {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 1rem;
	}
}
