.search {
	padding: 1rem;

	&__form {
		border: 1px solid #777;
		display: flex;
		justify-content: space-between;
	}

	&__bar {
		border: none;
		flex-grow: 1; // default 0

		&:focus {
			outline: none;
		}
	}
}

// .icon-search {
// 	display: inline-block;
// 	vertical-align: middle;
// }
